{% extends 'base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <h1>Structure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Rue</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Estasso</th>
                <th>NbDonateurs</th>
                <th>NbActionnaires</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for structure in structures %}
            <tr>
                <td>{{ structure.id }}</td>
                <td>{{ structure.nom }}</td>
                <td>{{ structure.rue }}</td>
                <td>{{ structure.cp }}</td>
                <td>{{ structure.ville }}</td>
                <td>{{ structure.estasso ? 'Yes' : 'No' }}</td>
                <td>{{ structure.nbDonateurs }}</td>
                <td>{{ structure.nbActionnaires }}</td>
                <td>
                    <a href="{{ path('app_structure_show', {'id': structure.id}) }}">show</a>
                    <a href="{{ path('app_structure_edit', {'id': structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_structure_new') }}">Create new</a>
{% endblock %}
