{% extends 'base.html.twig' %}

{% block title %}New Structure{% endblock %}

{% block body %}
    <h1>Rechercher dans les structures</h1>
    {% if no_result %}
        <p style="color:red;">Pas de résultats trouvés pour votre recherche.</p>
    {% endif %}
    {{ form(formulaire) }}
{% endblock %}
