{% extends 'base.html.twig' %}

{% block title %}Emploi index{% endblock %}

{% block body %}
    <h1>Emploi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salaire</th>
                <th>TempsTravail</th>
                <th>TempsPartiel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploi in emplois %}
            <tr>
                <td>{{ emploi.id }}</td>
                <td>{{ emploi.salaire }}</td>
                <td>{{ emploi.tempsTravail }}</td>
                <td>{{ emploi.tempsPartiel ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_emploi_show', {'id': emploi.id}) }}">show</a>
                    <a href="{{ path('app_emploi_edit', {'id': emploi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_emploi_new') }}">Create new</a>
{% endblock %}
