{% extends 'base.html.twig' %}

{% block title %}Emploi{% endblock %}

{% block body %}
    <h1>Emploi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emploi.id }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ emploi.salaire }}</td>
            </tr>
            <tr>
                <th>TempsTravail</th>
                <td>{{ emploi.tempsTravail }}</td>
            </tr>
            <tr>
                <th>TempsPartiel</th>
                <td>{{ emploi.tempsPartiel ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_emploi_index') }}">back to list</a>

    <a href="{{ path('app_emploi_edit', {'id': emploi.id}) }}">edit</a>

    {{ include('emploi/_delete_form.html.twig') }}
{% endblock %}
