{% extends 'base.html.twig' %}

{% block title %}SecteursStructures{% endblock %}

{% block body %}
    <h1>SecteursStructures</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Secteur</th>
                <th>Structure</th>
            
            </tr>

            <tr>
                <td>{{ secteurs_structure.id }}</td>
                <td>{{ secteurs_structure.idSecteur.libelle }}</td>
                <td>{{ secteurs_structure.idStructure.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_secteurs_structures_index') }}">back to list</a>

    <a href="{{ path('app_secteurs_structures_edit', {'id': secteurs_structure.id}) }}">edit</a>

    {{ include('secteurs_structures/_delete_form.html.twig') }}
{% endblock %}
