{% extends 'base.html.twig' %}

{% block title %}Dirigeant{% endblock %}

{% block body %}
    <h1>Dirigeant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dirigeant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ dirigeant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ dirigeant.prenom }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ dirigeant.dateNaissance ? dirigeant.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dirigeant_index') }}">back to list</a>

    <a href="{{ path('app_dirigeant_edit', {'id': dirigeant.id}) }}">edit</a>

    {{ include('dirigeant/_delete_form.html.twig') }}
{% endblock %}
